<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigsur.AndroidChatWithMaps">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App">

        <activity android:name="com.bigsur.AndroidChatWithMaps.startScreen.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bigsur.AndroidChatWithMaps.startScreen.LoginActivity" />
        <activity android:name="com.bigsur.AndroidChatWithMaps.settings.SetupBioActivity"/>
        <activity android:name="com.bigsur.AndroidChatWithMaps.settings.SetupLoginActivity"/>
        <activity android:name="com.bigsur.AndroidChatWithMaps.settings.SetupPhoneActivity"/>
        <activity android:name="com.bigsur.AndroidChatWithMaps.settings.SetupUsernameActivity"/>
        <activity android:name="com.bigsur.AndroidChatWithMaps.Home.MenuScreenActivity"
            android:parentActivityName="com.bigsur.AndroidChatWithMaps.startScreen.LoginActivity">
        </activity>
        <activity android:name="com.bigsur.AndroidChatWithMaps.chats.DialogActivity" />
    </application>

</manifest>