<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigsur.AndroidChatWithMaps"
    >



    <!--Internet Permission-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App"

        >

        <activity android:name="com.bigsur.AndroidChatWithMaps.UI.Contacts.ContactsSearchActivity"
            android:parentActivityName=".UI.Home.MenuScreenActivity">
        </activity>
        <activity android:name=".UI.ChatRooms.chats.AddGroupNameActivity"/>
        <activity android:name=".UI.ChatRooms.chats.AddGroupActivity"/>
        <activity android:name=".UI.Contacts.RenameContactActivity" />
        <activity android:name=".UI.ChatRooms.chats.AddChatActivity" />
        <activity android:name=".UI.startScreen.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.startScreen.LoginActivity" />
        <activity android:name=".UI.settings.SetupBioActivity"/>
        <activity android:name=".UI.settings.SetupLoginActivity"/>
        <activity android:name=".UI.settings.SetupPhoneActivity"/>
        <activity android:name=".UI.settings.SetupUsernameActivity"/>
        <activity android:name=".UI.Home.MenuScreenActivity"
            android:parentActivityName=".UI.startScreen.LoginActivity">
        </activity>
        <activity android:name=".UI.ChatRooms.chats.DialogActivity" />
    </application>

</manifest>